@page
@model EditModel
@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Node.ID) ? "Create MongoNode" : "Edit MongoNode";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>

<form class="form-horizontal" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Node.ID" type="hidden" />
    <div class="form-group">
        <label class="col-sm-1 control-label" asp-for="Node.Name"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.Name" />
            <span asp-validation-for="Node.Name"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label" asp-for="Node.Url"></label>
        <div class="col-sm-5">
            <input class="form-control" asp-for="Node.Url" />
            <span asp-validation-for="Node.Url"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>

