@page
@model EditModel
@{
    ViewData["Title"] = string.IsNullOrWhiteSpace(Model.Node.ID) ? "Create SyncNode" : "Edit SyncNode";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>

<form class="form-horizontal" method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Node.ID" type="hidden" />
    <input asp-for="Node.Status" type="hidden" />
    <input asp-for="Node.Switch" type="hidden" />
    <input asp-for="Node.OperTailSign" type="hidden" />
    <input asp-for="Node.OperTailSignExt" type="hidden" />
    <input asp-for="Node.OperScanSign" type="hidden" />
    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.Name"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.Name" />
            <span asp-validation-for="Node.Name"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.MongoUrl"></label>
        <div class="col-sm-3">
            <select class="form-control selectpicker" asp-items="@(new SelectList(Model.MongoNodes,"Url","Name"))" asp-for="Node.MongoUrl">
                <option>Please select one</option>
            </select>
            <span asp-validation-for="Node.MongoUrl"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.ParentDataBase"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.ParentDataBase" />
            @*<select class="form-control" asp-for="Node.ParentDataBase" >
                    <option>Please select one</option>
                </select>*@
            <span asp-validation-for="Node.ParentDataBase"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.ParentCollection"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.ParentCollection" />
            @*<select class="form-control" asp-for="Node.ParentCollection">
                    <option>Please select one</option>
                </select>*@
            <span asp-validation-for="Node.ParentCollection"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.ParentLinkField"></label>
        <div class="col-sm-3">
            <input readonly class="form-control" asp-for="Node.ParentLinkField" value="_id" />
            <span asp-validation-for="Node.ParentLinkField"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.DataBase"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.DataBase" />
            @*<select class="form-control" asp-for="Node.DataBase">
                    <option>Please select one</option>
                </select>*@
            <span asp-validation-for="Node.DataBase"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.Collection"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.Collection" />
            @*<select class="form-control" asp-for="Node.Collection">
                    <option>Please select one</option>
                </select>*@
            <span asp-validation-for="Node.Collection"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.LinkField"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.LinkField" />
            <span asp-validation-for="Node.LinkField"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.ProjectFields"></label>
        <div class="col-sm-5">
            <input class="form-control" asp-for="Node.ProjectFields" />(空为全部字段同步,_id字段默认包含,字段以英文,号间隔)
            <span asp-validation-for="Node.ProjectFields"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.EsUrl"></label>
        <div class="col-sm-3">
            <select class="form-control selectpicker" asp-items="@(new SelectList(Model.EsNodes,"Url","Name"))" asp-for="Node.EsUrl">
                <option>Please select one</option>
            </select>
            <span asp-validation-for="Node.EsUrl"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.Index"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.Index" />
            <span asp-validation-for="Node.Index"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.Type"></label>
        <div class="col-sm-3">
            <input class="form-control" asp-for="Node.Type" />
            <span asp-validation-for="Node.Type"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" asp-for="Node.Mapping"></label>
        <div class="col-sm-6">
            <textarea class="form-control" asp-for="Node.Mapping"  style="min-height:400px;"></textarea><a id="GetMapping" href="javascript:void(0);">点击获取</a>
            <span asp-validation-for="Node.Mapping"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-21">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">字段列表</h4>
            </div>
            <div class="modal-body" style="max-height:350px;overflow-y:scroll;">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script>
        //$('#Node_MongoUrl').change(function () {
        //    var curValue = $(this).val();
        //    $('#Node_ParentDataBase').empty();
        //    $('#Node_ParentCollection').empty();
        //    $('#Node_DataBase').empty();
        //    $('#Node_Collection').empty();

        //    $.get("/SyncNode/Edit?mongo=" + curValue + "&handler=dbs", function (res, status) {
        //        var data = res.d;
        //        console.log(data);
        //        for (var i = 0; i < data.length; i++) {
        //            var option = '<option value="' + data[i] + '">' + data[i] +'</option>';
        //            $('#Node_ParentDataBase').append(option);
        //            $('#Node_DataBase').append(option);
        //        }

        //    }, "json");
        //})

        //$('#Node_ProjectFields').focus(function () {
        //    var mongourl = $('#Node_MongoUrl').val();
        //    var db = $('#Node_DataBase').val();
        //    var col = $('#Node_Collection').val();

        //    if (!mongourl) {
        //        console.log("请选择MongoUrl.");
        //        return;
        //    }
        //    if (!db) {
        //        console.log("请填写DataBase.");
        //        return;
        //    }
        //    if (!col) {
        //        console.log("请填写Collection.");
        //        return;
        //    }

        //    $.get("/SyncNode/Edit?mongo=" + mongourl + "&db=" + db + "&col=" + col + "&handler=fields", function (res, status) {
        //        var data = res.d;
        //        console.log(data);
        //        var checkboxgroup = '<div class="btn-group" data-toggle="buttons"></div>';

        //    }, "json");

        //});

        $('#GetMapping').click(function () {
            if (confirm("获取mapping 会自动创建一个Index,获取Mapping后会自动删除创建的Index，该操作有风险，是否继续执行？")) {
                var mongourl = $('#Node_MongoUrl').val();
                var db = $('#Node_DataBase').val();
                var col = $('#Node_Collection').val();

                var projectfields = $('#Node_ProjectFields').val();
                var linkfield = $('#Node_LinkField').val();
                var es = $('#Node_EsUrl').val();

                if (!mongourl) {
                    console.log("请选择MongoUrl.");
                    return;
                }
                if (!db) {
                    console.log("请填写DataBase.");
                    return;
                }
                if (!col) {
                    console.log("请填写Collection.");
                    return;
                }
                if (!es) {
                    console.log("请选择EsUrl.");
                    return;
                }


                $.get("/SyncNode/Edit?mongo=" + mongourl + "&db=" + db + "&col=" + col + "&projectfields=" + projectfields + "&linkfield=" + linkfield + "&es=" + es + "&handler=mapping", function (res, status) {
                    var data = res.d;
                    console.log(data);

                    $("#Node_Mapping").val(data);

                }, "json");
            }
        });

    </script>
}
