<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="6.1.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="2.2.0" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.2.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.2.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.2.0" targetFramework="net45" />
  <package id="MongoDB.Repository" version="2.2.13" targetFramework="net45" />
  <package id="NEST" version="6.1.0" targetFramework="net45" />
  <package id="NEST.JsonNetSerializer" version="6.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="Repository.IEntity" version="1.0.2" targetFramework="net45" />
</packages>