<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>
  
  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="file.txt" />-->
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="Mail" name="infoMail"
          smtpServer="smtp.exmail.qq.com"
          smtpPort="465"
          smtpAuthentication="Basic"
          smtpUserName="from_email"
          smtpPassword="from_email_pwd"
          enableSsl="true"
          addNewLines="true"
          from="from_eamil"
          to="your_email_list"
          subject="Mongo2Es Exception"
          header="==============="
          body="${newline}${message}${newline}"
          footer="================" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <!--<logger name="*" minlevel="Debug" writeTo="logfile" />-->
    <logger name="*" minlevel="Warn" writeTo="infoMail" />
  </rules>
</nlog>
