<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.MailKit"/>
    <add assembly="NLog.MongoDB.NetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Mongo"
         name="logmongo"
         includeDefaults="false"
         connectionString="mongodb://localhost:27017"
         collectionName="SystemLog"
         databaseName="Mongo2Es"
         cappedCollectionSize="26214400">
      <field name="Date" layout="${date}" bsonType="DateTime" />
      <field name="Level" layout="${level}"/>
      <field name="NodeID" layout="${nodeid}" />
      <field name="Message" layout="${message}" />
      <field name="Logger" layout="${logger}"/>
      <field name="Exception" layout="${exception:format=tostring}" />
      <field name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <field name="ThreadName" layout="${threadname}" />
      <field name="ProcessID" layout="${processid}" bsonType="Int32" />
      <field name="ProcessName" layout="${processname:fullName=true}" />
      <field name="UserName" layout="${windows-identity}" />
    </target>
    <target name="logconsole" xsi:type="Console"></target>
    <target xsi:type="Mail" name="infoMail"
           smtpServer="smtp.exmail.qq.com"
           smtpPort="465"
           smtpAuthentication="Basic"
           smtpUserName="syslog_monitor@mallcoo.cn"
           smtpPassword=""
           enableSsl="true"
           addNewLines="true"
           from="syslog_monitor@mallcoo.cn"
           to="snaildev@outlook.com"
           subject="Mongo2Es Exception"
           header="==============="
           body="${newline}${message}${newline}"
           footer="================" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole,logmongo" />
    <logger name="*" minlevel="Error" writeTo="infoMail" />
  </rules>
</nlog>